@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fc-event {
    cursor: pointer;
}

/* h1.main-heading {
  background-image: url();
  background-clip: text;
  color: transparent;
  animation: bg-animation 30s linear infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
} */