@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex h-10 w-full items-center rounded-lg
            w-fit
           px-4 text-sm font-medium
           transition-colors
           focus-visible:outline
           focus-visible:outline-2
           focus-visible:outline-offset-2
           aria-disabled:cursor-not-allowed
           aria-disabled:opacity-50;
  }
  .btn-primary {
    @apply bg-blue-500
           text-white
           hover:bg-blue-400
           active:bg-blue-600
           focus-visible:outline-blue-500;
  }
  .btn-primary-transparent {
    @apply 
      bg-transparent
      text-blue-400
      border
      border-solid
      border-blue-400
      hover:bg-blue-500
      hover:text-white
      hover:border-blue-500
      active:bg-blue-600
    ;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fc-event {
    cursor: pointer;
}

/* h1.main-heading {
  background-image: url();
  background-clip: text;
  color: transparent;
  animation: bg-animation 30s linear infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: 0% 0%;}
  100% {background-position: 100% 100%;}
} */